<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="NameMaker.NameMaker" android:installLocation="preferExternal" android:versionCode="1" android:versionName="Beta1">
	<uses-sdk android:minSdkVersion="18" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:icon="@drawable/icon" android:label="NameMaker"></application>
</manifest>